body{
font-family: Arial, Helvetica, sans-serif;
margin: 20px;
background-color: #282828;
color: #ddd;
}

.container{
max-width: 600px;
margin: 0 auto;
text-align: center;
background-color: transparent;
}

button {
padding: 8px;
margin: 5px 0;
background-color: #17173d;
color:#ddd
}

label{
    float: left;
}

input {
    width:100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: none;
    background-color: #17173d;
    color: #ddd;
    float: right;
}

.center-window{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .topo{
	margin: 0 auto;
	width:90%;
	position:relative;/*sobrepoe as outras divs */
    background-color: #17173d;
    display: flex;
    padding: 10px;
  }
