body{
font-family: Arial, Helvetica, sans-serif;
margin: 20px;
background-color: #282828;
color: #ddd;
}

.container{
max-width: 600px;
margin: 0 auto;
text-align: center;
background-color: transparent;
}

Button {
	background-color:#17173d;
	border-radius:10px;
	border:1px solid #17173d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
Button:hover {
	background-color:#3838bd;
}
Button:active {
	position:relative;
	top:1px;
}


label{
    float: left;
}

input {
    width:100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: none;
    background-color: #17173d;
    color: #ddd;
}

.center-window{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-window{
  position: absolute;
  right: 0;
  background-color: #282828;
  width: 50%;
  height: fit-content;
}

.left-window{
  position: absolute;
  left: 0;
  background-color: #282828;
  width: 50%;
  height: fit-content;
}

 .topo{
	margin: 0 auto;
	width:90%;
	position:relative;/*sobrepoe as outras divs */
    background-color: #17173d;
    display: flex;
    padding: 10px;
  }

  footer{
    position: fixed;
    margin: 0 auto;
    width:100%;
    background-color: #17173d;
    padding: 10px;
    display: block;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .return{
    float: left;
  }
  

  input[type="radio"]{
    width: auto;
    float: left;
  }

  .exit{
    float : right;
  }
