<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Fornecedor</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <script th:src="@{/js/app.js}" defer></script>
    <div class="topo"><h3>EstoKar</h3></div>
    <div class="container">
        <br><button onclick="return_index()" class="return"> voltar</button>

            <div class="center-window">
                <h1>Cadastrar Fornecedor</h1>
                <form th:action="@{/Fornecedor}" method="post">
                    <label for="username">Fornecedor:</label><br>
                    <input type="text" id="nome_fornecedor" name="nome_fornecedor" required>
                    <br>

                    <label for="text">CNPJ:</label><br>
                    <input type="text" id="cnpj" name="cnpj" required>
                    <br>
                    
                    <button type="reset">Limpar</button>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
</body>
</html>